body {
  font-family: 'Segoe UI', sans-serif;
  background-color: lightblue;
  margin: 0;
}
h1 {
  text-align: center;
}
form {
  background: white;
}
input {
  width: 100%;
}
button {
  background-color: gray;
  color: black;
  border: none;
  cursor: pointer;
}